@import url("https://fonts.googleapis.com/css2?family=Acme&family=Changa:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap");

.about-bin {
	max-width: 800px;
	margin: 0 auto;
	padding: 0px;
	text-align: center;
}

.about-bin h1 {
	position: relative;
	font-size: 45px;
	font-family: "Changa", sans-serif;
	color: #c64d23;
	margin-top: -90px;
}

.circle {
	position: relative;
	top: 150px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 200px;
	border-radius: 50%;
	background-color: white;
	z-index: -1;
}

.about-bin p {
	top: 50px;
	position: relative;
	font-size: 16px;
	line-height: 1.6;
	color: #c64d23;
	font-family: "Anybody", sans-serif;
}
