body {
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
}

.footerContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #392c60;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-top: 1px solid #9f86c0;
  z-index: 0;
}

footer input[type="password"] {
  width: 30%;
  font-size: 15px;
  padding: 8px;
  box-sizing: border-box;
  margin: 5px;
  outline: none;
  border: 2px solid #9f86c0;
  border-radius: 5px;
}

footer button {
  width: 6%;
  margin: 10px 10px 10px 10px;
  font-size: 14px;
  border: none;
  box-sizing: border-box;
  padding: 10px;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  text-align: center;
  color: white;
  border-radius: 5px;
  background-color: #720874;
}

footer button:hover {
  cursor: pointer;
  background-color: rgb(195, 26, 26);
  transition: 0.5s ease;
}

footer button:active {
  background-color: rgb(195, 26, 26);
}
