button {
  background-color: rgb(251, 187, 244);
  padding: 10px 15px;
  color: rgb(131, 16, 40);
  transition: all 0.2s ease-in-out;
  font-weight: 700;
  font-size: 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-family: "Changa", sans-serif;
  margin: 50px;
  margin-left: 650px;
}

.start-button:hover {
  color: rgb(195, 26, 26);
  transition: 0.5s ease;
}

.checkmark {
  vertical-align: RIGHT;
  font-size: 0.8em;
  margin-left: 5px;
}
